# User-specific stuff
.idea
.vscode/

# IPython
profile_default/
ipython_config.py
.ipynb_checkpoints/

# macOS
.DS_Store

# Python
*.egg-info
*.log
*.pdf

.benchmarks
.cache
.coverage*
.mypy_cache
.pytest_cache
.ruff_cache
__pycache__
build
coverage.xml
dist
htmlcov/

# requests-cache
item.sqlite

# Data files/generated
*.csv
*.xlsx
output/

# Sphinx documentation
doc/_build

# R
.Rproj.user
R/*.Rcheck

# Access keys for CI deployment
ci/*.json

# Editors
/**/.idea
*.eggs
